<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="assets/img/white-logo1.png" alt="image"></a>
                    </div>
  
                    <ul class="social">
                        <li><a href="https://www.facebook.com/profile.php?id=100092532861072" target="_blank"><i class="flaticon-facebook-letter-logo"></i></a></li>
                        <li><a href="https://github.com/IhebTrabelsii" target="_blank"><i class="flaticon-github"></i></a></li>
                        <li><a href="https://www.instagram.com/ihebtrabelsi7/" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
                        <li><a href="https://www.youtube.com/watch?v=5SIhlWFAJWk" target="_blank"><i class="flaticon-youtube-play-button"></i></a></li>
                    </ul>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>
  
                    <ul class="footer-services-list">
                        <li><a href="#">{{'shop.Cooler'|translate}}</a></li>
                        <li><a href="#">{{'shop.Mouse'|translate}}</a></li>
                        <li><a href="#">{{'shop.Headphone'|translate}}</a></li>
                        <li><a href="#">{{'shop.Keyboard'|translate}}</a></li>
                        <li><a href="#">{{'shop.Mousepad'|translate}}</a></li>
                        <li><a href="#">{{'shop.Bag'|translate}}</a></li>
                    </ul>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>{{'footer.Link'|translate}}</h3>
  
                    <ul class="quick-links-list">
                        <li><a href=".\blog">{{"navbar.home"|translate}}</a></li>
                        <li><a href=".\shop">{{"navbar.shop"|translate}}</a></li>
                        <li><a href=".\about">{{"navbar.about"|translate}}</a></li>
                        <li><a href=".\contact">{{"navbar.contact"|translate}}</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Computer_hardware#:~:text=Computer%20hardware%20includes%20the%20physical,sound%20card%2C%20speakers%20and%20motherboard.">Support</a></li>
                    </ul>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>{{"navbar.contact"|translate}}</h3>
  
                    <ul class="footer-contact-list">
                        <li><span>Email  :   </span> <a href="#">unitechmourouj@gmail.com</a></li>
                        <li><span>{{'footer.phone'|translate}} :   </span> <a href="#">+216 24 871 233</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>{{'footer.copy'|translate}} <a href="#">--MYTEK--</a>. {{'footer.all'|translate}}</p>
                </div>
  
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li><a href="#">{{'footer.pol'|translate}}</a></li>
                        <li><a href="#">{{'footer.term'|translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
    <div class="circle-map"><img src="assets/img/circle-map.png" alt="image"></div>
  
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
  </footer>
